.header__menu {
  margin: auto;
  width: 24px;
  height: 0;
  border-bottom: 3px solid #fff;
  position: relative;
}

.header__menu::before{
  content: '';
  width: 24px;
  height: 0;
  border-bottom: 3px solid #fff;
  position: absolute;
  left: 0;
  top: -8px;
}

.header__menu::after{
  content: "";
  width: 24px;
  height: 0;
  border-bottom: 3px solid #ffffff;
  position: absolute;
  left: 0;
  bottom: -10px;
}