.registration__input {
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  width: 100%;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  outline: none;
  margin-bottom: 30px;
  background-color: #000;
}