.registration__title{
  margin:0 auto;
  padding: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-style: 14px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
}